# OpsLoop - Cowrie 설정 (기본값 위에 덮어쓰는 부분만 기술)

[honeypot]
hostname = svr04
log_path = var/log/cowrie

[output_jsonlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.json

[output_textlog]
enabled = true
logfile = ${honeypot:log_path}/cowrie.log
